body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h1 {
    color: #333;
}

.container {
    margin-bottom: 20px;
}

#task-input {
    padding: 8px;
    font-size: 16px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-task-btn {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #0056b3;
}

#task-list {
    list-style-type: none;
    padding: 0;
    width: 450px;
}

#task-list li {
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}
.task-text {
    flex-grow: 1;        
}
#task-list button {
    margin-left: 5px; 
}

.delete-btn {
    background: #d3515e;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #df2739;
}

.edit-btn{
    background: #5185d3;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.edit-btn:hover {
    background: #272adf;
}

.comp-btn{
    background-color: #3a9e6f;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.comp-btn:hover {
    background-color: #24ca6f;
}